In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.4'

In [3]:
pd.read_csv('data/gapminder.tsv', sep='\t')

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
df = pd.read_csv('data/gapminder.tsv', sep='\t')

In [5]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.shape

(1704, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [9]:
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [10]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [11]:
type(df.columns)

pandas.core.indexes.base.Index

In [12]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [13]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [14]:
df.values[0]

array(['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
      dtype=object)

In [15]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [16]:
country = df['country']

In [17]:
country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [18]:
type(country)

pandas.core.series.Series

In [19]:
country = df[['country']]

In [20]:
df.loc[1]

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [21]:
df.iloc[-1]

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [22]:
df.iloc

In [23]:
df.loc[:, 'year']

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [24]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [25]:
df.iloc[:, [1, 2]]

     continent  year
0         Asia  1952
1         Asia  1957
2         Asia  1962
3         Asia  1967
4         Asia  1972
...        ...   ...
1699    Africa  1987
1700    Africa  1992
1701    Africa  1997
1702    Africa  2002
1703    Africa  2007

[1704 rows x 2 columns]

In [26]:
df.loc

In [27]:
df.loc[1]

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [28]:
df.loc[df['country'] == "United States"]

            country continent  year  lifeExp        pop    gdpPercap
1608  United States  Americas  1952   68.440  157553000  13990.48208
1609  United States  Americas  1957   69.490  171984000  14847.12712
1610  United States  Americas  1962   70.210  186538000  16173.14586
1611  United States  Americas  1967   70.760  198712000  19530.36557
1612  United States  Americas  1972   71.340  209896000  21806.03594
1613  United States  Americas  1977   73.380  220239000  24072.63213
1614  United States  Americas  1982   74.650  232187835  25009.55914
1615  United States  Americas  1987   75.020  242803533  29884.35041
1616  United States  Americas  1992   76.090  256894189  32003.93224
1617  United States  Americas  1997   76.810  272911760  35767.43303
1618  United States  Americas  2002   77.310  287675526  39097.09955
1619  United States  Americas  2007   78.242  301139947  42951.65309

In [29]:
df.loc[:]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [30]:
df['country'] == "United States"

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: country, Length: 1704, dtype: bool

In [31]:
df.loc[df['country'] == "United States"][]

SyntaxError: invalid syntax (<ipython-input-31-9fdc11015b48>, line 1)

In [37]:
df.loc[(df['country'] == "United States") & (df['year'] == 1982)]

            country continent  year  lifeExp        pop    gdpPercap
1614  United States  Americas  1982    74.65  232187835  25009.55914

In [38]:
df.groupby('year')

In [39]:
df.groupby(['year'])

In [40]:
list(df.groupby('year'))

[(1952,
                   country continent  year  lifeExp       pop    gdpPercap
  0            Afghanistan      Asia  1952   28.801   8425333   779.445314
  12               Albania    Europe  1952   55.230   1282697  1601.056136
  24               Algeria    Africa  1952   43.077   9279525  2449.008185
  36                Angola    Africa  1952   30.015   4232095  3520.610273
  48             Argentina  Americas  1952   62.485  17876956  5911.315053
  ...                  ...       ...   ...      ...       ...          ...
  1644             Vietnam      Asia  1952   40.412  26246839   605.066492
  1656  West Bank and Gaza      Asia  1952   43.160   1030585  1515.592329
  1668         Yemen, Rep.      Asia  1952   32.548   4963829   781.717576
  1680              Zambia    Africa  1952   42.038   2672000  1147.388831
  1692            Zimbabwe    Africa  1952   48.451   3080907   406.884115

  [142 rows x 6 columns]),
 (1957,
                   country continent  year  lifeExp       pop    gdpPercap
  1            Afghanistan      Asia  1957   30.332   9240934   820.853030
  13               Albania    Europe  1957   59.280   1476505  1942.284244
  25               Algeria    Africa  1957   45.685  10270856  3013.976023
  37                Angola    Africa  1957   31.999   4561361  3827.940465
  49             Argentina  Americas  1957   64.399  19610538  6856.856212
  ...                  ...       ...   ...      ...       ...          ...
  1645             Vietnam      Asia  1957   42.887  28998543   676.285448
  1657  West Bank and Gaza      Asia  1957   45.671   1070439  1827.067742
  1669         Yemen, Rep.      Asia  1957   33.970   5498090   804.830455
  1681              Zambia    Africa  1957   44.077   3016000  1311.956766
  1693            Zimbabwe    Africa  1957   50.469   3646340   518.764268

  [142 rows x 6 columns]),
 (1962,
                   country continent  year  lifeExp       pop    gdpPercap
  2            Afghanistan      Asia  1962   31.997  10267083   853.100710
  14               Albania    Europe  1962   64.820   1728137  2312.888958
  26               Algeria    Africa  1962   48.303  11000948  2550.816880
  38                Angola    Africa  1962   34.000   4826015  4269.276742
  50             Argentina  Americas  1962   65.142  21283783  7133.166023
  ...                  ...       ...   ...      ...       ...          ...
  1646             Vietnam      Asia  1962   45.363  33796140   772.049160
  1658  West Bank and Gaza      Asia  1962   48.127   1133134  2198.956312
  1670         Yemen, Rep.      Asia  1962   35.180   6120081   825.623201
  1682              Zambia    Africa  1962   46.023   3421000  1452.725766
  1694            Zimbabwe    Africa  1962   52.358   4277736   527.272182

  [142 rows x 6 columns]),
 (1967,
                   country continent  year  lifeExp       pop    gdpPercap
  3            Afghanistan      Asia  1967   34.020  11537966   836.197138
  15               Albania    Europe  1967   66.220   1984060  2760.196931
  27               Algeria    Africa  1967   51.407  12760499  3246.991771
  39                Angola    Africa  1967   35.985   5247469  5522.776375
  51             Argentina  Americas  1967   65.634  22934225  8052.953021
  ...                  ...       ...   ...      ...       ...          ...
  1647             Vietnam      Asia  1967   47.838  39463910   637.123289
  1659  West Bank and Gaza      Asia  1967   51.631   1142636  2649.715007
  1671         Yemen, Rep.      Asia  1967   36.984   6740785   862.442146
  1683              Zambia    Africa  1967   47.768   3900000  1777.077318
  1695            Zimbabwe    Africa  1967   53.995   4995432   569.795071

  [142 rows x 6 columns]),
 (1972,
                   country continent  year  lifeExp       pop    gdpPercap
  4            Afghanistan      Asia  1972   36.088  13079460   739.981106
  16               Albania    Europe  1972   67.690   2263554  3313.422188
  28               Algeria    Africa  1972   54.518  14760787  4182.663766
  40                Angola    Africa  1972   37.928   5894858  5473.288005
  52             Argentina  Americas  1972   67.065  24779799  9443.038526
  ...                  ...       ...   ...      ...       ...          ...
  1648             Vietnam      Asia  1972   50.254  44655014   699.501644
  1660  West Bank and Gaza      Asia  1972   56.532   1089572  3133.409277
  1672         Yemen, Rep.      Asia  1972   39.848   7407075  1265.047031
  1684              Zambia    Africa  1972   50.107   4506497  1773.498265
  1696            Zimbabwe    Africa  1972   55.635   5861135   799.362176

  [142 rows x 6 columns]),
 (1977,
                   country continent  year  lifeExp       pop     gdpPercap
  5            Afghanistan      Asia  1977   38.438  14880372    786.113360
  17               Albania    Europe  1977   68.930   2509048   3533.003910
  29               Algeria    Africa  1977   58.014  17152804   4910.416756
  41                Angola    Africa  1977   39.483   6162675   3008.647355
  53             Argentina  Americas  1977   68.481  26983828  10079.026740
  ...                  ...       ...   ...      ...       ...           ...
  1649             Vietnam      Asia  1977   55.764  50533506    713.537120
  1661  West Bank and Gaza      Asia  1977   60.765   1261091   3682.831494
  1673         Yemen, Rep.      Asia  1977   44.175   8403990   1829.765177
  1685              Zambia    Africa  1977   51.386   5216550   1588.688299
  1697            Zimbabwe    Africa  1977   57.674   6642107    685.587682

  [142 rows x 6 columns]),
 (1982,
                   country continent  year  lifeExp       pop    gdpPercap
  6            Afghanistan      Asia  1982   39.854  12881816   978.011439
  18               Albania    Europe  1982   70.420   2780097  3630.880722
  30               Algeria    Africa  1982   61.368  20033753  5745.160213
  42                Angola    Africa  1982   39.942   7016384  2756.953672
  54             Argentina  Americas  1982   69.942  29341374  8997.897412
  ...                  ...       ...   ...      ...       ...          ...
  1650             Vietnam      Asia  1982   58.816  56142181   707.235786
  1662  West Bank and Gaza      Asia  1982   64.406   1425876  4336.032082
  1674         Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
  1686              Zambia    Africa  1982   51.821   6100407  1408.678565
  1698            Zimbabwe    Africa  1982   60.363   7636524   788.855041

  [142 rows x 6 columns]),
 (1987,
                   country continent  year  lifeExp       pop    gdpPercap
  7            Afghanistan      Asia  1987   40.822  13867957   852.395945
  19               Albania    Europe  1987   72.000   3075321  3738.932735
  31               Algeria    Africa  1987   65.799  23254956  5681.358539
  43                Angola    Africa  1987   39.906   7874230  2430.208311
  55             Argentina  Americas  1987   70.774  31620918  9139.671389
  ...                  ...       ...   ...      ...       ...          ...
  1651             Vietnam      Asia  1987   62.820  62826491   820.799445
  1663  West Bank and Gaza      Asia  1987   67.046   1691210  5107.197384
  1675         Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
  1687              Zambia    Africa  1987   50.821   7272406  1213.315116
  1699            Zimbabwe    Africa  1987   62.351   9216418   706.157306

  [142 rows x 6 columns]),
 (1992,
                   country continent  year  lifeExp       pop    gdpPercap
  8            Afghanistan      Asia  1992   41.674  16317921   649.341395
  20               Albania    Europe  1992   71.581   3326498  2497.437901
  32               Algeria    Africa  1992   67.744  26298373  5023.216647
  44                Angola    Africa  1992   40.647   8735988  2627.845685
  56             Argentina  Americas  1992   71.868  33958947  9308.418710
  ...                  ...       ...   ...      ...       ...          ...
  1652             Vietnam      Asia  1992   67.662  69940728   989.023149
  1664  West Bank and Gaza      Asia  1992   69.718   2104779  6017.654756
  1676         Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
  1688              Zambia    Africa  1992   46.100   8381163  1210.884633
  1700            Zimbabwe    Africa  1992   60.377  10704340   693.420786

  [142 rows x 6 columns]),
 (1997,
                   country continent  year  lifeExp       pop     gdpPercap
  9            Afghanistan      Asia  1997   41.763  22227415    635.341351
  21               Albania    Europe  1997   72.950   3428038   3193.054604
  33               Algeria    Africa  1997   69.152  29072015   4797.295051
  45                Angola    Africa  1997   40.963   9875024   2277.140884
  57             Argentina  Americas  1997   73.275  36203463  10967.281950
  ...                  ...       ...   ...      ...       ...           ...
  1653             Vietnam      Asia  1997   70.672  76048996   1385.896769
  1665  West Bank and Gaza      Asia  1997   71.096   2826046   7110.667619
  1677         Yemen, Rep.      Asia  1997   58.020  15826497   2117.484526
  1689              Zambia    Africa  1997   40.238   9417789   1071.353818
  1701            Zimbabwe    Africa  1997   46.809  11404948    792.449960

  [142 rows x 6 columns]),
 (2002,
                   country continent  year  lifeExp       pop    gdpPercap
  10           Afghanistan      Asia  2002   42.129  25268405   726.734055
  22               Albania    Europe  2002   75.651   3508512  4604.211737
  34               Algeria    Africa  2002   70.994  31287142  5288.040382
  46                Angola    Africa  2002   41.003  10866106  2773.287312
  58             Argentina  Americas  2002   74.340  38331121  8797.640716
  ...                  ...       ...   ...      ...       ...          ...
  1654             Vietnam      Asia  2002   73.017  80908147  1764.456677
  1666  West Bank and Gaza      Asia  2002   72.370   3389578  4515.487575
  1678         Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
  1690              Zambia    Africa  2002   39.193  10595811  1071.613938
  1702            Zimbabwe    Africa  2002   39.989  11926563   672.038623

  [142 rows x 6 columns]),
 (2007,
                   country continent  year  lifeExp       pop     gdpPercap
  11           Afghanistan      Asia  2007   43.828  31889923    974.580338
  23               Albania    Europe  2007   76.423   3600523   5937.029526
  35               Algeria    Africa  2007   72.301  33333216   6223.367465
  47                Angola    Africa  2007   42.731  12420476   4797.231267
  59             Argentina  Americas  2007   75.320  40301927  12779.379640
  ...                  ...       ...   ...      ...       ...           ...
  1655             Vietnam      Asia  2007   74.249  85262356   2441.576404
  1667  West Bank and Gaza      Asia  2007   73.422   4018332   3025.349798
  1679         Yemen, Rep.      Asia  2007   62.698  22211743   2280.769906
  1691              Zambia    Africa  2007   42.384  11746035   1271.211593
  1703            Zimbabwe    Africa  2007   43.487  12311143    469.709298

  [142 rows x 6 columns])]

In [41]:
df.groupby(['year'])[['lifeExp']]

In [42]:
list(df.groupby(['year'])[['lifeExp']])

[(1952,
                   country continent  year  lifeExp       pop    gdpPercap
  0            Afghanistan      Asia  1952   28.801   8425333   779.445314
  12               Albania    Europe  1952   55.230   1282697  1601.056136
  24               Algeria    Africa  1952   43.077   9279525  2449.008185
  36                Angola    Africa  1952   30.015   4232095  3520.610273
  48             Argentina  Americas  1952   62.485  17876956  5911.315053
  ...                  ...       ...   ...      ...       ...          ...
  1644             Vietnam      Asia  1952   40.412  26246839   605.066492
  1656  West Bank and Gaza      Asia  1952   43.160   1030585  1515.592329
  1668         Yemen, Rep.      Asia  1952   32.548   4963829   781.717576
  1680              Zambia    Africa  1952   42.038   2672000  1147.388831
  1692            Zimbabwe    Africa  1952   48.451   3080907   406.884115

  [142 rows x 6 columns]),
 (1957,
                   country continent  year  lifeExp       pop    gdpPercap
  1            Afghanistan      Asia  1957   30.332   9240934   820.853030
  13               Albania    Europe  1957   59.280   1476505  1942.284244
  25               Algeria    Africa  1957   45.685  10270856  3013.976023
  37                Angola    Africa  1957   31.999   4561361  3827.940465
  49             Argentina  Americas  1957   64.399  19610538  6856.856212
  ...                  ...       ...   ...      ...       ...          ...
  1645             Vietnam      Asia  1957   42.887  28998543   676.285448
  1657  West Bank and Gaza      Asia  1957   45.671   1070439  1827.067742
  1669         Yemen, Rep.      Asia  1957   33.970   5498090   804.830455
  1681              Zambia    Africa  1957   44.077   3016000  1311.956766
  1693            Zimbabwe    Africa  1957   50.469   3646340   518.764268

  [142 rows x 6 columns]),
 (1962,
                   country continent  year  lifeExp       pop    gdpPercap
  2            Afghanistan      Asia  1962   31.997  10267083   853.100710
  14               Albania    Europe  1962   64.820   1728137  2312.888958
  26               Algeria    Africa  1962   48.303  11000948  2550.816880
  38                Angola    Africa  1962   34.000   4826015  4269.276742
  50             Argentina  Americas  1962   65.142  21283783  7133.166023
  ...                  ...       ...   ...      ...       ...          ...
  1646             Vietnam      Asia  1962   45.363  33796140   772.049160
  1658  West Bank and Gaza      Asia  1962   48.127   1133134  2198.956312
  1670         Yemen, Rep.      Asia  1962   35.180   6120081   825.623201
  1682              Zambia    Africa  1962   46.023   3421000  1452.725766
  1694            Zimbabwe    Africa  1962   52.358   4277736   527.272182

  [142 rows x 6 columns]),
 (1967,
                   country continent  year  lifeExp       pop    gdpPercap
  3            Afghanistan      Asia  1967   34.020  11537966   836.197138
  15               Albania    Europe  1967   66.220   1984060  2760.196931
  27               Algeria    Africa  1967   51.407  12760499  3246.991771
  39                Angola    Africa  1967   35.985   5247469  5522.776375
  51             Argentina  Americas  1967   65.634  22934225  8052.953021
  ...                  ...       ...   ...      ...       ...          ...
  1647             Vietnam      Asia  1967   47.838  39463910   637.123289
  1659  West Bank and Gaza      Asia  1967   51.631   1142636  2649.715007
  1671         Yemen, Rep.      Asia  1967   36.984   6740785   862.442146
  1683              Zambia    Africa  1967   47.768   3900000  1777.077318
  1695            Zimbabwe    Africa  1967   53.995   4995432   569.795071

  [142 rows x 6 columns]),
 (1972,
                   country continent  year  lifeExp       pop    gdpPercap
  4            Afghanistan      Asia  1972   36.088  13079460   739.981106
  16               Albania    Europe  1972   67.690   2263554  3313.422188
  28               Algeria    Africa  1972   54.518  14760787  4182.663766
  40                Angola    Africa  1972   37.928   5894858  5473.288005
  52             Argentina  Americas  1972   67.065  24779799  9443.038526
  ...                  ...       ...   ...      ...       ...          ...
  1648             Vietnam      Asia  1972   50.254  44655014   699.501644
  1660  West Bank and Gaza      Asia  1972   56.532   1089572  3133.409277
  1672         Yemen, Rep.      Asia  1972   39.848   7407075  1265.047031
  1684              Zambia    Africa  1972   50.107   4506497  1773.498265
  1696            Zimbabwe    Africa  1972   55.635   5861135   799.362176

  [142 rows x 6 columns]),
 (1977,
                   country continent  year  lifeExp       pop     gdpPercap
  5            Afghanistan      Asia  1977   38.438  14880372    786.113360
  17               Albania    Europe  1977   68.930   2509048   3533.003910
  29               Algeria    Africa  1977   58.014  17152804   4910.416756
  41                Angola    Africa  1977   39.483   6162675   3008.647355
  53             Argentina  Americas  1977   68.481  26983828  10079.026740
  ...                  ...       ...   ...      ...       ...           ...
  1649             Vietnam      Asia  1977   55.764  50533506    713.537120
  1661  West Bank and Gaza      Asia  1977   60.765   1261091   3682.831494
  1673         Yemen, Rep.      Asia  1977   44.175   8403990   1829.765177
  1685              Zambia    Africa  1977   51.386   5216550   1588.688299
  1697            Zimbabwe    Africa  1977   57.674   6642107    685.587682

  [142 rows x 6 columns]),
 (1982,
                   country continent  year  lifeExp       pop    gdpPercap
  6            Afghanistan      Asia  1982   39.854  12881816   978.011439
  18               Albania    Europe  1982   70.420   2780097  3630.880722
  30               Algeria    Africa  1982   61.368  20033753  5745.160213
  42                Angola    Africa  1982   39.942   7016384  2756.953672
  54             Argentina  Americas  1982   69.942  29341374  8997.897412
  ...                  ...       ...   ...      ...       ...          ...
  1650             Vietnam      Asia  1982   58.816  56142181   707.235786
  1662  West Bank and Gaza      Asia  1982   64.406   1425876  4336.032082
  1674         Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
  1686              Zambia    Africa  1982   51.821   6100407  1408.678565
  1698            Zimbabwe    Africa  1982   60.363   7636524   788.855041

  [142 rows x 6 columns]),
 (1987,
                   country continent  year  lifeExp       pop    gdpPercap
  7            Afghanistan      Asia  1987   40.822  13867957   852.395945
  19               Albania    Europe  1987   72.000   3075321  3738.932735
  31               Algeria    Africa  1987   65.799  23254956  5681.358539
  43                Angola    Africa  1987   39.906   7874230  2430.208311
  55             Argentina  Americas  1987   70.774  31620918  9139.671389
  ...                  ...       ...   ...      ...       ...          ...
  1651             Vietnam      Asia  1987   62.820  62826491   820.799445
  1663  West Bank and Gaza      Asia  1987   67.046   1691210  5107.197384
  1675         Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
  1687              Zambia    Africa  1987   50.821   7272406  1213.315116
  1699            Zimbabwe    Africa  1987   62.351   9216418   706.157306

  [142 rows x 6 columns]),
 (1992,
                   country continent  year  lifeExp       pop    gdpPercap
  8            Afghanistan      Asia  1992   41.674  16317921   649.341395
  20               Albania    Europe  1992   71.581   3326498  2497.437901
  32               Algeria    Africa  1992   67.744  26298373  5023.216647
  44                Angola    Africa  1992   40.647   8735988  2627.845685
  56             Argentina  Americas  1992   71.868  33958947  9308.418710
  ...                  ...       ...   ...      ...       ...          ...
  1652             Vietnam      Asia  1992   67.662  69940728   989.023149
  1664  West Bank and Gaza      Asia  1992   69.718   2104779  6017.654756
  1676         Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
  1688              Zambia    Africa  1992   46.100   8381163  1210.884633
  1700            Zimbabwe    Africa  1992   60.377  10704340   693.420786

  [142 rows x 6 columns]),
 (1997,
                   country continent  year  lifeExp       pop     gdpPercap
  9            Afghanistan      Asia  1997   41.763  22227415    635.341351
  21               Albania    Europe  1997   72.950   3428038   3193.054604
  33               Algeria    Africa  1997   69.152  29072015   4797.295051
  45                Angola    Africa  1997   40.963   9875024   2277.140884
  57             Argentina  Americas  1997   73.275  36203463  10967.281950
  ...                  ...       ...   ...      ...       ...           ...
  1653             Vietnam      Asia  1997   70.672  76048996   1385.896769
  1665  West Bank and Gaza      Asia  1997   71.096   2826046   7110.667619
  1677         Yemen, Rep.      Asia  1997   58.020  15826497   2117.484526
  1689              Zambia    Africa  1997   40.238   9417789   1071.353818
  1701            Zimbabwe    Africa  1997   46.809  11404948    792.449960

  [142 rows x 6 columns]),
 (2002,
                   country continent  year  lifeExp       pop    gdpPercap
  10           Afghanistan      Asia  2002   42.129  25268405   726.734055
  22               Albania    Europe  2002   75.651   3508512  4604.211737
  34               Algeria    Africa  2002   70.994  31287142  5288.040382
  46                Angola    Africa  2002   41.003  10866106  2773.287312
  58             Argentina  Americas  2002   74.340  38331121  8797.640716
  ...                  ...       ...   ...      ...       ...          ...
  1654             Vietnam      Asia  2002   73.017  80908147  1764.456677
  1666  West Bank and Gaza      Asia  2002   72.370   3389578  4515.487575
  1678         Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
  1690              Zambia    Africa  2002   39.193  10595811  1071.613938
  1702            Zimbabwe    Africa  2002   39.989  11926563   672.038623

  [142 rows x 6 columns]),
 (2007,
                   country continent  year  lifeExp       pop     gdpPercap
  11           Afghanistan      Asia  2007   43.828  31889923    974.580338
  23               Albania    Europe  2007   76.423   3600523   5937.029526
  35               Algeria    Africa  2007   72.301  33333216   6223.367465
  47                Angola    Africa  2007   42.731  12420476   4797.231267
  59             Argentina  Americas  2007   75.320  40301927  12779.379640
  ...                  ...       ...   ...      ...       ...           ...
  1655             Vietnam      Asia  2007   74.249  85262356   2441.576404
  1667  West Bank and Gaza      Asia  2007   73.422   4018332   3025.349798
  1679         Yemen, Rep.      Asia  2007   62.698  22211743   2280.769906
  1691              Zambia    Africa  2007   42.384  11746035   1271.211593
  1703            Zimbabwe    Africa  2007   43.487  12311143    469.709298

  [142 rows x 6 columns])]

In [43]:
list(df.groupby(['year'])['lifeExp'])

[(1952,
  0       28.801
  12      55.230
  24      43.077
  36      30.015
  48      62.485
           ...
  1644    40.412
  1656    43.160
  1668    32.548
  1680    42.038
  1692    48.451
  Name: lifeExp, Length: 142, dtype: float64),
 (1957,
  1       30.332
  13      59.280
  25      45.685
  37      31.999
  49      64.399
           ...
  1645    42.887
  1657    45.671
  1669    33.970
  1681    44.077
  1693    50.469
  Name: lifeExp, Length: 142, dtype: float64),
 (1962,
  2       31.997
  14      64.820
  26      48.303
  38      34.000
  50      65.142
           ...
  1646    45.363
  1658    48.127
  1670    35.180
  1682    46.023
  1694    52.358
  Name: lifeExp, Length: 142, dtype: float64),
 (1967,
  3       34.020
  15      66.220
  27      51.407
  39      35.985
  51      65.634
           ...
  1647    47.838
  1659    51.631
  1671    36.984
  1683    47.768
  1695    53.995
  Name: lifeExp, Length: 142, dtype: float64),
 (1972,
  4       36.088
  16      67.690
  28      54.518
  40      37.928
  52      67.065
           ...
  1648    50.254
  1660    56.532
  1672    39.848
  1684    50.107
  1696    55.635
  Name: lifeExp, Length: 142, dtype: float64),
 (1977,
  5       38.438
  17      68.930
  29      58.014
  41      39.483
  53      68.481
           ...
  1649    55.764
  1661    60.765
  1673    44.175
  1685    51.386
  1697    57.674
  Name: lifeExp, Length: 142, dtype: float64),
 (1982,
  6       39.854
  18      70.420
  30      61.368
  42      39.942
  54      69.942
           ...
  1650    58.816
  1662    64.406
  1674    49.113
  1686    51.821
  1698    60.363
  Name: lifeExp, Length: 142, dtype: float64),
 (1987,
  7       40.822
  19      72.000
  31      65.799
  43      39.906
  55      70.774
           ...
  1651    62.820
  1663    67.046
  1675    52.922
  1687    50.821
  1699    62.351
  Name: lifeExp, Length: 142, dtype: float64),
 (1992,
  8       41.674
  20      71.581
  32      67.744
  44      40.647
  56      71.868
           ...
  1652    67.662
  1664    69.718
  1676    55.599
  1688    46.100
  1700    60.377
  Name: lifeExp, Length: 142, dtype: float64),
 (1997,
  9       41.763
  21      72.950
  33      69.152
  45      40.963
  57      73.275
           ...
  1653    70.672
  1665    71.096
  1677    58.020
  1689    40.238
  1701    46.809
  Name: lifeExp, Length: 142, dtype: float64),
 (2002,
  10      42.129
  22      75.651
  34      70.994
  46      41.003
  58      74.340
           ...
  1654    73.017
  1666    72.370
  1678    60.308
  1690    39.193
  1702    39.989
  Name: lifeExp, Length: 142, dtype: float64),
 (2007,
  11      43.828
  23      76.423
  35      72.301
  47      42.731
  59      75.320
           ...
  1655    74.249
  1667    73.422
  1679    62.698
  1691    42.384
  1703    43.487
  Name: lifeExp, Length: 142, dtype: float64)]

In [44]:
df.groupby(['year'])['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [46]:
import numpy as np
df.groupby(['year'])['lifeExp'].agg(np.mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [48]:
df.groupby(['continent', 'year'])

In [49]:
list(df.groupby(['continent', 'year']))

[(('Africa', 1952),
                         country continent  year  lifeExp       pop    gdpPercap
  24                     Algeria    Africa  1952   43.077   9279525  2449.008185
  36                      Angola    Africa  1952   30.015   4232095  3520.610273
  120                      Benin    Africa  1952   38.223   1738315  1062.752200
  156                   Botswana    Africa  1952   47.622    442308   851.241141
  192               Burkina Faso    Africa  1952   31.975   4469979   543.255241
  204                    Burundi    Africa  1952   39.031   2445618   339.296459
  228                   Cameroon    Africa  1952   38.523   5009067  1172.667655
  252   Central African Republic    Africa  1952   35.463   1291695  1071.310713
  264                       Chad    Africa  1952   38.092   2682462  1178.665927
  312                    Comoros    Africa  1952   40.715    153936  1102.990936
  324           Congo, Dem. Rep.    Africa  1952   39.143  14100005   780.542326
  336                Congo, Rep.    Africa  1952   42.111    854885  2125.621418
  360              Cote d'Ivoire    Africa  1952   40.477   2977019  1388.594732
  420                   Djibouti    Africa  1952   34.812     63149  2669.529475
  456                      Egypt    Africa  1952   41.893  22223309  1418.822445
  480          Equatorial Guinea    Africa  1952   34.482    216964   375.643123
  492                    Eritrea    Africa  1952   35.928   1438760   328.940557
  504                   Ethiopia    Africa  1952   34.078  20860941   362.146280
  540                      Gabon    Africa  1952   37.003    420702  4293.476475
  552                     Gambia    Africa  1952   30.000    284320   485.230659
  576                      Ghana    Africa  1952   43.149   5581001   911.298937
  612                     Guinea    Africa  1952   33.609   2664249   510.196492
  624              Guinea-Bissau    Africa  1952   32.500    580653   299.850319
  816                      Kenya    Africa  1952   42.270   6464046   853.540919
  876                    Lesotho    Africa  1952   42.138    748747   298.846212
  888                    Liberia    Africa  1952   38.480    863308   575.572996
  900                      Libya    Africa  1952   42.723   1019729  2387.548060
  912                 Madagascar    Africa  1952   36.681   4762912  1443.011715
  924                     Malawi    Africa  1952   36.256   2917802   369.165080
  948                       Mali    Africa  1952   33.685   3838168   452.336981
  960                 Mauritania    Africa  1952   40.543   1022556   743.115910
  972                  Mauritius    Africa  1952   50.986    516556  1967.955707
  1020                   Morocco    Africa  1952   42.873   9939217  1688.203570
  1032                Mozambique    Africa  1952   31.286   6446316   468.526038
  1056                   Namibia    Africa  1952   41.725    485831  2423.780443
  1116                     Niger    Africa  1952   37.444   3379468   761.879376
  1128                   Nigeria    Africa  1952   36.324  33119096  1077.281856
  1260                   Reunion    Africa  1952   52.724    257700  2718.885295
  1284                    Rwanda    Africa  1952   40.000   2534927   493.323875
  1296     Sao Tome and Principe    Africa  1952   46.471     60011   879.583586
  1320                   Senegal    Africa  1952   37.278   2755589  1450.356983
  1344              Sierra Leone    Africa  1952   30.331   2143249   879.787736
  1392                   Somalia    Africa  1952   32.978   2526994  1135.749842
  1404              South Africa    Africa  1952   45.009  14264935  4725.295531
  1440                     Sudan    Africa  1952   38.635   8504667  1615.991129
  1452                 Swaziland    Africa  1952   41.407    290243  1148.376626
  1512                  Tanzania    Africa  1952   41.215   8322925   716.650072
  1536                      Togo    Africa  1952   38.596   1219113   859.808657
  1560                   Tunisia    Africa  1952   44.600   3647735  1468.475631
  1584                    Uganda    Africa  1952   39.978   5824797   734.753484
  1680                    Zambia    Africa  1952   42.038   2672000  1147.388831
  1692                  Zimbabwe    Africa  1952   48.451   3080907   406.884115),
 (('Africa', 1957),
                         country continent  year  lifeExp       pop    gdpPercap
  25                     Algeria    Africa  1957   45.685  10270856  3013.976023
  37                      Angola    Africa  1957   31.999   4561361  3827.940465
  121                      Benin    Africa  1957   40.358   1925173   959.601080
  157                   Botswana    Africa  1957   49.618    474639   918.232535
  193               Burkina Faso    Africa  1957   34.906   4713416   617.183465
  205                    Burundi    Africa  1957   40.533   2667518   379.564628
  229                   Cameroon    Africa  1957   40.428   5359923  1313.048099
  253   Central African Republic    Africa  1957   37.464   1392284  1190.844328
  265                       Chad    Africa  1957   39.881   2894855  1308.495577
  313                    Comoros    Africa  1957   42.460    170928  1211.148548
  325           Congo, Dem. Rep.    Africa  1957   40.652  15577932   905.860230
  337                Congo, Rep.    Africa  1957   45.053    940458  2315.056572
  361              Cote d'Ivoire    Africa  1957   42.469   3300000  1500.895925
  421                   Djibouti    Africa  1957   37.328     71851  2864.969076
  457                      Egypt    Africa  1957   44.444  25009741  1458.915272
  481          Equatorial Guinea    Africa  1957   35.983    232922   426.096408
  493                    Eritrea    Africa  1957   38.047   1542611   344.161886
  505                   Ethiopia    Africa  1957   36.667  22815614   378.904163
  541                      Gabon    Africa  1957   38.999    434904  4976.198099
  553                     Gambia    Africa  1957   32.065    323150   520.926711
  577                      Ghana    Africa  1957   44.779   6391288  1043.561537
  613                     Guinea    Africa  1957   34.558   2876726   576.267025
  625              Guinea-Bissau    Africa  1957   33.489    601095   431.790457
  817                      Kenya    Africa  1957   44.686   7454779   944.438315
  877                    Lesotho    Africa  1957   45.047    813338   335.997115
  889                    Liberia    Africa  1957   39.486    975950   620.969990
  901                      Libya    Africa  1957   45.289   1201578  3448.284395
  913                 Madagascar    Africa  1957   38.865   5181679  1589.202750
  925                     Malawi    Africa  1957   37.207   3221238   416.369806
  949                       Mali    Africa  1957   35.307   4241884   490.382187
  961                 Mauritania    Africa  1957   42.338   1076852   846.120261
  973                  Mauritius    Africa  1957   58.089    609816  2034.037981
  1021                   Morocco    Africa  1957   45.423  11406350  1642.002314
  1033                Mozambique    Africa  1957   33.779   7038035   495.586833
  1057                   Namibia    Africa  1957   45.226    548080  2621.448058
  1117                     Niger    Africa  1957   38.598   3692184   835.523403
  1129                   Nigeria    Africa  1957   37.802  37173340  1100.592563
  1261                   Reunion    Africa  1957   55.090    308700  2769.451844
  1285                    Rwanda    Africa  1957   41.500   2822082   540.289398
  1297     Sao Tome and Principe    Africa  1957   48.945     61325   860.736903
  1321                   Senegal    Africa  1957   39.329   3054547  1567.653006
  1345              Sierra Leone    Africa  1957   31.570   2295678  1004.484437
  1393                   Somalia    Africa  1957   34.977   2780415  1258.147413
  1405              South Africa    Africa  1957   47.985  16151549  5487.104219
  1441                     Sudan    Africa  1957   39.624   9753392  1770.337074
  1453                 Swaziland    Africa  1957   43.424    326741  1244.708364
  1513                  Tanzania    Africa  1957   42.974   9452826   698.535607
  1537                      Togo    Africa  1957   41.208   1357445   925.908320
  1561                   Tunisia    Africa  1957   47.100   3950849  1395.232468
  1585                    Uganda    Africa  1957   42.571   6675501   774.371069
  1681                    Zambia    Africa  1957   44.077   3016000  1311.956766
  1693                  Zimbabwe    Africa  1957   50.469   3646340   518.764268),
 (('Africa', 1962),
                         country continent  year  lifeExp       pop    gdpPercap
  26                     Algeria    Africa  1962   48.303  11000948  2550.816880
  38                      Angola    Africa  1962   34.000   4826015  4269.276742
  122                      Benin    Africa  1962   42.618   2151895   949.499064
  158                   Botswana    Africa  1962   51.520    512764   983.653976
  194               Burkina Faso    Africa  1962   37.814   4919632   722.512021
  206                    Burundi    Africa  1962   42.045   2961915   355.203227
  230                   Cameroon    Africa  1962   42.643   5793633  1399.607441
  254   Central African Republic    Africa  1962   39.475   1523478  1193.068753
  266                       Chad    Africa  1962   41.716   3150417  1389.817618
  314                    Comoros    Africa  1962   44.467    191689  1406.648278
  326           Congo, Dem. Rep.    Africa  1962   42.122  17486434   896.314634
  338                Congo, Rep.    Africa  1962   48.435   1047924  2464.783157
  362              Cote d'Ivoire    Africa  1962   44.930   3832408  1728.869428
  422                   Djibouti    Africa  1962   39.693     89898  3020.989263
  458                      Egypt    Africa  1962   46.992  28173309  1693.335853
  482          Equatorial Guinea    Africa  1962   37.485    249220   582.841971
  494                    Eritrea    Africa  1962   40.158   1666618   380.995843
  506                   Ethiopia    Africa  1962   40.059  25145372   419.456416
  542                      Gabon    Africa  1962   40.489    455661  6631.459222
  554                     Gambia    Africa  1962   33.896    374020   599.650276
  578                      Ghana    Africa  1962   46.452   7355248  1190.041118
  614                     Guinea    Africa  1962   35.753   3140003   686.373674
  626              Guinea-Bissau    Africa  1962   34.488    627820   522.034373
  818                      Kenya    Africa  1962   47.949   8678557   896.966373
  878                    Lesotho    Africa  1962   47.747    893143   411.800627
  890                    Liberia    Africa  1962   40.502   1112796   634.195163
  902                      Libya    Africa  1962   47.808   1441863  6757.030816
  914                 Madagascar    Africa  1962   40.848   5703324  1643.387110
  926                     Malawi    Africa  1962   38.410   3628608   427.901086
  950                       Mali    Africa  1962   36.936   4690372   496.174343
  962                 Mauritania    Africa  1962   44.248   1146757  1055.896036
  974                  Mauritius    Africa  1962   60.246    701016  2529.067487
  1022                   Morocco    Africa  1962   47.924  13056604  1566.353493
  1034                Mozambique    Africa  1962   36.161   7788944   556.686354
  1058                   Namibia    Africa  1962   48.386    621392  3173.215595
  1118                     Niger    Africa  1962   39.487   4076008   997.766113
  1130                   Nigeria    Africa  1962   39.360  41871351  1150.927478
  1262                   Reunion    Africa  1962   57.666    358900  3173.723340
  1286                    Rwanda    Africa  1962   43.000   3051242   597.473073
  1298     Sao Tome and Principe    Africa  1962   51.893     65345  1071.551119
  1322                   Senegal    Africa  1962   41.454   3430243  1654.988723
  1346              Sierra Leone    Africa  1962   32.767   2467895  1116.639877
  1394                   Somalia    Africa  1962   36.981   3080153  1369.488336
  1406              South Africa    Africa  1962   49.951  18356657  5768.729717
  1442                     Sudan    Africa  1962   40.870  11183227  1959.593767
  1454                 Swaziland    Africa  1962   44.992    370006  1856.182125
  1514                  Tanzania    Africa  1962   44.246  10863958   722.003807
  1538                      Togo    Africa  1962   43.922   1528098  1067.534810
  1562                   Tunisia    Africa  1962   49.579   4286552  1660.303210
  1586                    Uganda    Africa  1962   45.344   7688797   767.271740
  1682                    Zambia    Africa  1962   46.023   3421000  1452.725766
  1694                  Zimbabwe    Africa  1962   52.358   4277736   527.272182),
 (('Africa', 1967),
                         country continent  year  lifeExp       pop  \
  27                     Algeria    Africa  1967   51.407  12760499
  39                      Angola    Africa  1967   35.985   5247469
  123                      Benin    Africa  1967   44.885   2427334
  159                   Botswana    Africa  1967   53.298    553541
  195               Burkina Faso    Africa  1967   40.697   5127935
  207                    Burundi    Africa  1967   43.548   3330989
  231                   Cameroon    Africa  1967   44.799   6335506
  255   Central African Republic    Africa  1967   41.478   1733638
  267                       Chad    Africa  1967   43.601   3495967
  315                    Comoros    Africa  1967   46.472    217378
  327           Congo, Dem. Rep.    Africa  1967   44.056  19941073
  339                Congo, Rep.    Africa  1967   52.040   1179760
  363              Cote d'Ivoire    Africa  1967   47.350   4744870
  423                   Djibouti    Africa  1967   42.074    127617
  459                      Egypt    Africa  1967   49.293  31681188
  483          Equatorial Guinea    Africa  1967   38.987    259864
  495                    Eritrea    Africa  1967   42.189   1820319
  507                   Ethiopia    Africa  1967   42.115  27860297
  543                      Gabon    Africa  1967   44.598    489004
  555                     Gambia    Africa  1967   35.857    439593
  579                      Ghana    Africa  1967   48.072   8490213
  615                     Guinea    Africa  1967   37.197   3451418
  627              Guinea-Bissau    Africa  1967   35.492    601287
  819                      Kenya    Africa  1967   50.654  10191512
  879                    Lesotho    Africa  1967   48.492    996380
  891                    Liberia    Africa  1967   41.536   1279406
  903                      Libya    Africa  1967   50.227   1759224
  915                 Madagascar    Africa  1967   42.881   6334556
  927                     Malawi    Africa  1967   39.487   4147252
  951                       Mali    Africa  1967   38.487   5212416
  963                 Mauritania    Africa  1967   46.289   1230542
  975                  Mauritius    Africa  1967   61.557    789309
  1023                   Morocco    Africa  1967   50.335  14770296
  1035                Mozambique    Africa  1967   38.113   8680909
  1059                   Namibia    Africa  1967   51.159    706640
  1119                     Niger    Africa  1967   40.118   4534062
  1131                   Nigeria    Africa  1967   41.040  47287752
  1263                   Reunion    Africa  1967   60.542    414024
  1287                    Rwanda    Africa  1967   44.100   3451079
  1299     Sao Tome and Principe    Africa  1967   54.425     70787
  1323                   Senegal    Africa  1967   43.563   3965841
  1347              Sierra Leone    Africa  1967   34.113   2662190
  1395                   Somalia    Africa  1967   38.977   3428839
  1407              South Africa    Africa  1967   51.927  20997321
  1443                     Sudan    Africa  1967   42.858  12716129
  1455                 Swaziland    Africa  1967   46.633    420690
  1515                  Tanzania    Africa  1967   45.757  12607312
  1539                      Togo    Africa  1967   46.769   1735550
  1563                   Tunisia    Africa  1967   52.053   4786986
  1587                    Uganda    Africa  1967   48.051   8900294
  1683                    Zambia    Africa  1967   47.768   3900000
  1695                  Zimbabwe    Africa  1967   53.995   4995432

           gdpPercap
  27     3246.991771
  39     5522.776375
  123    1035.831411
  159    1214.709294
  195     794.826560
  207     412.977514
  231    1508.453148
  255    1136.056615
  267    1196.810565
  315    1876.029643
  327     861.593242
  339    2677.939642
  363    2052.050473
  423    3020.050513
  459    1814.880728
  483     915.596003
  495     468.794970
  507     516.118644
  543    8358.761987
  555     734.782912
  579    1125.697160
  615     708.759541
  627     715.580640
  819    1056.736457
  879     498.639026
  891     713.603648
  903   18772.751690
  915    1634.047282
  927     495.514781
  951     545.009887
  963    1421.145193
  975    2475.387562
  1023   1711.044770
  1035    566.669154
  1059   3793.694753
  1119   1054.384891
  1131   1014.514104
  1263   4021.175739
  1287    510.963714
  1299   1384.840593
  1323   1612.404632
  1347   1206.043465
  1395   1284.733180
  1407   7114.477971
  1443   1687.997641
  1455   2613.101665
  1515    848.218657
  1539   1477.596760
  1563   1932.360167
  1587    908.918522
  1683   1777.077318
  1695    569.795071  ),
 (('Africa', 1972),
                         country continent  year  lifeExp       pop  \
  28                     Algeria    Africa  1972   54.518  14760787
  40                      Angola    Africa  1972   37.928   5894858
  124                      Benin    Africa  1972   47.014   2761407
  160                   Botswana    Africa  1972   56.024    619351
  196               Burkina Faso    Africa  1972   43.591   5433886
  208                    Burundi    Africa  1972   44.057   3529983
  232                   Cameroon    Africa  1972   47.049   7021028
  256   Central African Republic    Africa  1972   43.457   1927260
  268                       Chad    Africa  1972   45.569   3899068
  316                    Comoros    Africa  1972   48.944    250027
  328           Congo, Dem. Rep.    Africa  1972   45.989  23007669
  340                Congo, Rep.    Africa  1972   54.907   1340458
  364              Cote d'Ivoire    Africa  1972   49.801   6071696
  424                   Djibouti    Africa  1972   44.366    178848
  460                      Egypt    Africa  1972   51.137  34807417
  484          Equatorial Guinea    Africa  1972   40.516    277603
  496                    Eritrea    Africa  1972   44.142   2260187
  508                   Ethiopia    Africa  1972   43.515  30770372
  544                      Gabon    Africa  1972   48.690    537977
  556                     Gambia    Africa  1972   38.308    517101
  580                      Ghana    Africa  1972   49.875   9354120
  616                     Guinea    Africa  1972   38.842   3811387
  628              Guinea-Bissau    Africa  1972   36.486    625361
  820                      Kenya    Africa  1972   53.559  12044785
  880                    Lesotho    Africa  1972   49.767   1116779
  892                    Liberia    Africa  1972   42.614   1482628
  904                      Libya    Africa  1972   52.773   2183877
  916                 Madagascar    Africa  1972   44.851   7082430
  928                     Malawi    Africa  1972   41.766   4730997
  952                       Mali    Africa  1972   39.977   5828158
  964                 Mauritania    Africa  1972   48.437   1332786
  976                  Mauritius    Africa  1972   62.944    851334

In [51]:
type(df.groupby(['continent', 'year']))

pandas.core.groupby.generic.DataFrameGroupBy

In [54]:
df.groupby(['continent', 'year'])[['lifeExp', 'gdpPercap']].agg(np.mean)

                  lifeExp     gdpPercap
continent year
Africa    1952  39.135500   1252.572466
          1957  41.266346   1385.236062
          1962  43.319442   1598.078825
          1967  45.334538   2050.363801
          1972  47.450942   2339.615674
          1977  49.580423   2585.938508
          1982  51.592865   2481.592960
          1987  53.344788   2282.668991
          1992  53.629577   2281.810333
          1997  53.598269   2378.759555
          2002  53.325231   2599.385159
          2007  54.806038   3089.032605
Americas  1952  53.279840   4079.062552
          1957  55.960280   4616.043733
          1962  58.398760   4901.541870
          1967  60.410920   5668.253496
          1972  62.394920   6491.334139
          1977  64.391560   7352.007126
          1982  66.228840   7506.737088
          1987  68.090720   7793.400261
          1992  69.568360   8044.934406
          1997  71.150480   8889.300863
          2002  72.422040   9287.677107
          2007  73.608120  11003.031625
Asia      1952  46.314394   5195.484004
          1957  49.318544   5787.732940
          1962  51.563223   5729.369625
          1967  54.663640   5971.173374
          1972  57.319269   8187.468699
          1977  59.610556   7791.314020
          1982  62.617939   7434.135157
          1987  64.851182   7608.226508
          1992  66.537212   8639.690248
          1997  68.020515   9834.093295
          2002  69.233879  10174.090397
          2007  70.728485  12473.026870
Europe    1952  64.408500   5661.057435
          1957  66.703067   6963.012816
          1962  68.539233   8365.486814
          1967  69.737600  10143.823757
          1972  70.775033  12479.575246
          1977  71.937767  14283.979110
          1982  72.806400  15617.896551
          1987  73.642167  17214.310727
          1992  74.440100  17061.568084
          1997  75.505167  19076.781802
          2002  76.700600  21711.732422
          2007  77.648600  25054.481636
Oceania   1952  69.255000  10298.085650
          1957  70.295000  11598.522455
          1962  71.085000  12696.452430
          1967  71.310000  14495.021790
          1972  71.910000  16417.333380
          1977  72.855000  17283.957605
          1982  74.290000  18554.709840
          1987  75.320000  20448.040160
          1992  76.945000  20894.045885
          1997  78.190000  24024.175170
          2002  79.740000  26938.778040
          2007  80.719500  29810.188275

In [55]:
df.groupby(['continent', 'year'])[['lifeExp', 'gdpPercap']].agg(np.mean).reset_index()

   continent  year    lifeExp     gdpPercap
0     Africa  1952  39.135500   1252.572466
1     Africa  1957  41.266346   1385.236062
2     Africa  1962  43.319442   1598.078825
3     Africa  1967  45.334538   2050.363801
4     Africa  1972  47.450942   2339.615674
5     Africa  1977  49.580423   2585.938508
6     Africa  1982  51.592865   2481.592960
7     Africa  1987  53.344788   2282.668991
8     Africa  1992  53.629577   2281.810333
9     Africa  1997  53.598269   2378.759555
10    Africa  2002  53.325231   2599.385159
11    Africa  2007  54.806038   3089.032605
12  Americas  1952  53.279840   4079.062552
13  Americas  1957  55.960280   4616.043733
14  Americas  1962  58.398760   4901.541870
15  Americas  1967  60.410920   5668.253496
16  Americas  1972  62.394920   6491.334139
17  Americas  1977  64.391560   7352.007126
18  Americas  1982  66.228840   7506.737088
19  Americas  1987  68.090720   7793.400261
20  Americas  1992  69.568360   8044.934406
21  Americas  1997  71.150480   8889.300863
22  Americas  2002  72.422040   9287.677107
23  Americas  2007  73.608120  11003.031625
24      Asia  1952  46.314394   5195.484004
25      Asia  1957  49.318544   5787.732940
26      Asia  1962  51.563223   5729.369625
27      Asia  1967  54.663640   5971.173374
28      Asia  1972  57.319269   8187.468699
29      Asia  1977  59.610556   7791.314020
30      Asia  1982  62.617939   7434.135157
31      Asia  1987  64.851182   7608.226508
32      Asia  1992  66.537212   8639.690248
33      Asia  1997  68.020515   9834.093295
34      Asia  2002  69.233879  10174.090397
35      Asia  2007  70.728485  12473.026870
36    Europe  1952  64.408500   5661.057435
37    Europe  1957  66.703067   6963.012816
38    Europe  1962  68.539233   8365.486814
39    Europe  1967  69.737600  10143.823757
40    Europe  1972  70.775033  12479.575246
41    Europe  1977  71.937767  14283.979110
42    Europe  1982  72.806400  15617.896551
43    Europe  1987  73.642167  17214.310727
44    Europe  1992  74.440100  17061.568084
45    Europe  1997  75.505167  19076.781802
46    Europe  2002  76.700600  21711.732422
47    Europe  2007  77.648600  25054.481636
48   Oceania  1952  69.255000  10298.085650
49   Oceania  1957  70.295000  11598.522455
50   Oceania  1962  71.085000  12696.452430
51   Oceania  1967  71.310000  14495.021790
52   Oceania  1972  71.910000  16417.333380
53   Oceania  1977  72.855000  17283.957605
54   Oceania  1982  74.290000  18554.709840
55   Oceania  1987  75.320000  20448.040160
56   Oceania  1992  76.945000  20894.045885
57   Oceania  1997  78.190000  24024.175170
58   Oceania  2002  79.740000  26938.778040
59   Oceania  2007  80.719500  29810.188275